<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% seo %}
  <link rel="stylesheet" href="{{site.baseurl }}/www/css/style.css?v={{site.github.build_revision}}">
  {% if page.replacements=='dates' %}
  <script defer>
    fetch('{{ site.baseurl }}/iiif-cache/manuscripts.json')
      .then(status => { if (!status.ok) { throw Error(status) } return status })
      .then(response => response.json())
      .catch(err => { throw Error(err) })
      .then(collection => {
        document.querySelectorAll("date").forEach(el => {
          const id_match = `https://iiif.library.utoronto.ca/presentation/v2/italianpaleography:IP_${el.getAttribute("data-id")}/manifest`
          for (const m of collection.manifests) {
            if (m['@id'] === id_match) {
              el.innerHTML = m.date
              const difficulty = document.createElement("span")
              difficulty.classList.add(String(m.difficulty).toLowerCase())
              difficulty.innerHTML = ["Elementary","Intermediate","Advanced"].indexOf(m.difficulty)+1
              difficulty.setAttribute("title",`${m.difficulty} Reading Difficulty`)
              el.after(difficulty)
              return
            }
          }
        })
      })
  </script>
  {% endif %}
</head>

<body>
  <header class="header clearfix no-embed">
    <div id="branding" class="branding-elements clearfix">
      <div style="margin: 0px auto;">
        <div class="newberry-header hiddem-sm hidden-xs">
          <a href="http://www.newberry.org/">
            <img alt="Newberry" src="{{site.baseurl }}/www/images/NewberryLogo_with_tag.png">
          </a>
        </div>

        <h1 id="site-name">
          <a href="{{site.baseurl }}">Italian Paleography</a>
        </h1>
      </div>

    </div>
    <div class="search-icon" id="search-btn"><button title="Search" aria-label="Search"
        class="icon icon-search"></button></div>
    <div class="hamburger-icon">
      <div class="icon icon-menu">&nbsp;</div>
    </div>
  </header>
  <nav class="container no-embed">
    <ul class="nav nav-bar">
      <li class="first leaf"><a href="{{ site.baseurl }}">Home</a></li>
      <li class="leaf active-trail active"><a href="{{ site.baseurl }}/www/manuscripts.html" title=""
          class="active-trail active">Manuscripts</a></li>
      <li class="leaf active-trail active"><a href="{{ site.baseurl }}/handbook" title=""
          class="active-trail active">Handbook</a></li>
      <li class="expanded dropdown"><a href="{{site.baseurl }}/resources" title="" data-target="#"
          class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Appendix<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="first leaf"><a href="{{site.baseurl }}/www/calligraphy.html" title="">Calligraphy Books</a></li>
          <li class="last leaf"><a href="{{site.baseurl }}/www/maps.html" title="">Historical Maps</a></li>
        </ul>
      </li>
      <li class="expanded dropdown"><a href="{{site.baseurl }}/resources" title="" data-target="#"
          class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Resources <span class="caret"></span></a>
        <ul class="dropdown-menu"><li class="first leaf"><a href="{{ site.baseurl }}/new-paleography">New to Paleography</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/transcriptions" title="">Transcriptions</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/essays" title="">Background Essays</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/abbreviations">Abbreviations &amp; Symbols</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/glossary">Glossary</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/dictionaries">Dictionaries</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/bibliography-references">Bibliography &amp; References</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/teaching">Teaching Materials</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/transcription-and-metadata-standards">Transcription and Metadata Standards</a></li>
          <li class="last leaf active-trail active"><a href="{{ site.baseurl }}/project-history" class="active-trail active">History of the Project</a></li>
          </ul>
      </li>
      <li class="expanded dropdown"><a title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown"
        role="button" aria-haspopup="true" aria-expanded="false">My Transcriptions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="first leaf"><a href="http://newberry.rerum.io/paleography/my-transcriptions.html?language=Italian" title="">My
            Transcriptions</a></li>
            <li class="last leaf"><a href="{{ site.baseurl }}/transcriptions" title="">Master Transcriptions</a>
            </li>
          </ul>
        </li>
        <li class="expanded dropdown"><a href="{{ site.baseurl }}/contact" title="" data-target="#" class="dropdown-toggle"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="first leaf"><a href="{{ site.baseurl }}/contact" title="">Contact Us</a></li>
            <li class="last leaf"><a href="{{ site.baseurl }}/about-team" title="">About the Team</a></li>
          </ul>
        </li>
    </ul>
  </nav>
  <div class="container markdown-body">

    {{ content }}

    {% if site.github.private != true and site.github.license %}
    <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
    </div>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

  <footer class="row container no-embed">
    <div style="flex-grow: 2;">
      <h2> Partners </h2>
      <div class="row">
        <a class="col" href="http://www.newberry.org/" target="_blank"><img alt="Newberry"
            src="{{ site.baseurl }}/www/images/NewberryLogo_with_tag.png"></a>
        <a class="col" href="http://onesearch.library.utoronto.ca" target="_blank"><img
            alt="University of Toronto Libraries" src="{{ site.baseurl }}/www/images/UTL-logo.png"></a>
        <a class="col" href="http://lib.slu.edu/" style="line-height: 23.1111px;" target="_blank"><img
            alt="St. Louis University" src="{{ site.baseurl }}/www/images/slu.gif" style="width: 346px;"></a>
      </div>
    </div>
    <div class="pane-content">
      <p>Header image: Newberry Library, VAULT folio Case MS 214, f.1r</p>
      <p>Supported by a grant from <a href="http://mellon.org" target="_blank">The Andrew W. Mellon Foundation</a></p>
      <p><a href="https://italian-paleography.library.utoronto.ca">Italian Paleography</a> is licensed under a <a
          href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license">Creative Commons
          Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</p>
      <p>Follow us on Twitter:<br><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
          allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered"
          style="position: static; visibility: visible; width: 152px; height: 20px;" title="Twitter Follow Button"
          src="https://platform.twitter.com/widgets/follow_button.06c6ee58c3810956b7509218508c7b56.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=italpaleography&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1626898782476"
          data-screen-name="italpaleography"></iframe></p>
      <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </footer>
  <script>
    if (window.top != window.self) {
      document.querySelectorAll('.no-embed').forEach(el => el.style.display = 'none')
    }
  </script>
</body>

</html>
