@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

:root {
    --bg-color          : #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary     : #14854F;
    --color-lightGrey   : #d2d6dd;
    --color-grey        : #747681;
    --color-darkGrey    : #3f4144;
    --color-error       : #d43939;
    --color-success     : #28bd14;
    --grid-maxWidth     : 60rem;
    --grid-gutter       : 2rem;
    --font-size         : 1.6rem;
    --font-color        : #333333;
    --font-family-sans  : -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

html {
    font-family: 'Open sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: var(--grid-maxWidth);
    margin   : 0 auto;
    width    : 96%;
    padding  : 0 calc(var(--grid-gutter) / 2);
    display  : flex;
    flex-direction: column;
}

.row {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: flex-start;
    margin-left    : calc(var(--grid-gutter) / -2);
    margin-right   : calc(var(--grid-gutter) / -2);
    flex-wrap      : initial;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
}

.col,
[class*=" col-"],
[class^='col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);
}

a.col {
    max-width: 40vw;
}

a.col img {
    object-fit     : contain;
    object-position: center;
    max-width      : 100%;
}

.sidebar {
    max-width : 30em;
    min-width : 200px;
    flex-basis: 200px;
    position  : relative;
}

.sidebar ul {
    margin : 0;
    padding: 0;
}

.sidebar li {
    padding       : calc(var(--grid-gutter) / 4) 0;
    margin        : 0;
    display       : block;
    overflow      : hidden;
    text-transform: capitalize;
    text-overflow : ellipsis;
    background    : var(--color-primary);
    color         : var(--color-lightGrey);
    border-left   : var(--color-primary) solid thick;
}


facet {
    display     : block;
    position    : relative;
    cursor      : pointer;
    transition  : background-color .2s;
    border-left : var(--color-primary) solid thin;
    padding-left: calc(var(--grid-gutter)/4);
    font-size   : smaller;
}

facet:hover {
    background-color: var(--color-lightGrey);
}

facet.clicked {
    background-color: var(--color-grey);
}

facet::after {
    content         : "("attr(data-count)")";
    position        : absolute;
    right           : 0;
    border-radius   : 15%;
    background-color: rgba(255, 255, 255, .5);
}

.sidebar progress,
.sidebar input {
    box-sizing: border-box;
    width     : 100%;
    transition: width, progress-value .5s ease-out;
}

.sidebar input {
    line-height  : 1.6;
    margin-bottom: var(--grid-gutter);
}

progress::after {
    content   : attr(value)" of "attr(max);
    font-size : .6em;
    color     : #666666;
    position  : relative;
    text-align: right;
    display   : block;
    bottom    : 1em;
}

.reverse {
    flex-flow: row-reverse;
}

.grow {
    flex-grow: 3;
}

.wrap {
    flex-wrap: wrap;
    display  : flex;
}

.thumbnail {
    object-fit     : cover;
    object-position: top center;
    padding        : calc(var(--grid-gutter) / 2);
    max-height     : 10em;
    min-width      : 5em;
}

.record {
    display       : flex;
    flex-basis    : 100%;
    max-width     : 30em;
    flex-direction: column;
    padding       : calc(var(--grid-gutter) / 2);
    box-shadow    : -1px -1px 3px rgba(0, 0, 0, .4);
    margin        : calc(var(--grid-gutter) / 4);
}

.record[class*='hide-'],
facet[class*='hide-'] {
    display: none !important;
}

dt,
dd {
    border-top    : 1px solid #e5e5e5;
    padding-right : 0;
    line-height   : 1.42857143;
    margin        : 0 auto;
    color         : #555;
    display       : inline-block;
    padding-top   : 6px;
    padding-bottom: 4px;
    box-sizing    : border-box;
    vertical-align: top;
}

dt {
    font-weight: bold;
    width      : 15%;
}

dd {
    width       : 85%;
    word-break  : break-word;
    padding-left: 40px;
}

dd p {
    padding: 0;
    margin : 0;
}

.record h4 {
    margin: 0 auto;
}

.record a {
    background : white;
    color      : #be3c2b;
    border     : 1px solid #be3c2b;
    padding    : 3px 6px;
    text-align : center;
    font-weight: bold;
}

#Documents {
    overflow: auto;
    height  : calc(100vh - 100px);
}

#mirador-bookreader {
    position: relative;
    overflow: hidden;
    width   : 100%;
    height  : 40em;
}

listing+ul li {
    margin:0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
    display: flex;
    align-items: center;
}

listing+ul {
    display: block;
    padding: 0;
    margin: 0;
}

listing+ul a {
    flex-basis: 80%;
    text-decoration: none;
    color: #15628A;
    transition: color 0.5s ease;
    background-color: transparent;
    line-height: 2.6;
}

listing+ul date {
    display:block;
    text-align: center;
    color: #555;
    flex-grow: 1;
}

listing+ul li:nth-child(2n+2) {
    background-color: #f5f5f5;
}

listing+ul li:hover {
    background-color: #ddd !important;
}

/** Imported CSS */

body {
    font-size: 15px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

.markdown-body {
    min-height: 80vh;
}

.newberry-header img {
    position : absolute;
    max-width: 275px;
    top      : 35px;
    left     : 10px;
}

footer, nl-footer {
    font-size: 80% !important;
}

footer a, nl-footer a {
    text-decoration: none !important;
}

footer img, nl-footer img {
    max-width: 250px !important;
}

#site-name {
    padding    : 0;
    margin     : 0;
    font-size  : 220%;
    font-weight: normal !important;
    font-family: 'EB Garamond', serif !important;
    text-align : center;
}

#site-name a:link,
#site-name a:visited {
    color             : #000;
    text-decoration   : none;
    -moz-transition   : all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition     : all .5s ease;
    transition        : color 0.5s ease;
}

#logo {
    padding: 5px 1%;
    height : 100px;
    display: inline;
}

.red {
    color: #b43d2e;
}

.nav {
    margin-bottom: 0;
    padding-left : 0;
    list-style   : none;
}

.caret {
    display       : inline-block;
    width         : 0;
    height        : 0;
    margin-left   : 2px;
    vertical-align: middle;
    border-top    : 4px dashed;
    border-right  : 4px solid transparent;
    border-left   : 4px solid transparent;
}

.nav,
.menu-bar,
#header {
    z-index: 100 !important;
    opacity: 1;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}


.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration : none;
    color           : #262626;
    background-color: #f5f5f5;
}

#main-menu ul li.leaf {
    list-style-image: none;
    list-style-type : none;
}

#main-menu .nav>li {
    float        : left;
    padding-right: 0;
}

#main-menu .nav>li {
    position: relative;
    display : inline-block;
}

li.expanded,
li.collapsed,
li.leaf {
    padding: 0.2em 0.5em 0 0;
    margin : 0;
}

.nav {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

.nav>li>a {
    color          : black;
    font-size      : .8em;
    text-decoration: none;
    position       : relative;
}

li:hover .dropdown-menu {
    display: block;
}

ul li.leaf {
    list-style-image: none;
    list-style-type : none;
}

li.expanded,
li.collapsed,
li.leaf {
    padding: 0.2em 0.5em 0 0;
    margin : 0;
}

.dropdown-menu>li>a {
    display    : block;
    padding    : 3px 20px;
    clear      : both;
    font-weight: normal;
    line-height: 1.42857143;
    color      : #333;
    white-space: nowrap;
}

.header .search-icon,
.header .hamburger-icon {
    font-size: 28px;
    width    : 30px;
    height   : 30px;
    position : absolute;
    cursor   : pointer;
    color    : #002a5c;
}

.header .search-icon,
.header .hamburger-icon {
    color: #000;
}

.hamburger-icon {
    display: none;
}

.header .search-icon .icon,
.header .hamburger-icon .icon {
    width : 2em;
    height: 2em;
}

.header .icon-search {
    background: none;
    border    : 0;
}

.header .icon-search:before {
    position: absolute;
    top     : 0;
    left    : 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor            : pointer;
    overflow          : visible;
}

.icon-search:before {
    content  : "🔎︎";
    transform: scaleX(-1);
    font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond','Times New Roman',serif;
    font-family: 'Carrois Gothic',sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal !important;
    padding: 2% 0 1.5% 0;
}

h1, h2, h3, h4 {
    font-weight: 200 !important;
    font-family: 'EB Garamond','Times New Roman',serif !important;
    color: black;
}

h3[id] {
    padding: 2% 0 1.5% 3%;
    color: #002a5c;
    margin: 0 0 20px;
    border-bottom: 1px solid lightblue;
    font-size: 2em;
}

/** end Imported CSS */

@media screen and (max-width: 599px) {
    #site-name {
        padding-left  : 10px !important;
        padding-bottom: 15px !important;
    }

    .search-icon {
        top  : 15px;
        right: 58px;
    }

    .container {
        width: 100%;
    }

    .col,
    [class*="col-"],
    [class^='col-'] {
        -webkit-box-flex: 0;
        -ms-flex        : 0 1 100%;
        flex            : 0 1 100%;
        max-width       : 100%;
    }
}

@media screen and (max-width: 1399px) {
    .record {
        max-width: 100%;
    }

    .search-icon {
        top  : 38px;
        right: 15px;
    }

    #site-name {
        text-align: center;
    }
}

@media (min-width: 981px) {
    .nav>li>a {
        border-bottom: 2px solid #b43d2e;
        padding      : 5px 15px;
    }

    .dropdown-menu {
        position               : absolute;
        z-index                : 1000;
        display                : none;
        float                  : left;
        min-width              : 160px;
        padding                : 5px 0;
        margin                 : 5px 0 0;
        list-style             : none;
        font-size              : 14px;
        text-align             : left;
        background-color       : #fff;
        border                 : 1px solid #ccc;
        border                 : 1px solid rgba(0, 0, 0, 0.15);
        border-radius          : 0;
        -webkit-box-shadow     : 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow             : 0 6px 12px rgb(0 0 0 / 18%);
        -webkit-background-clip: padding-box;
        background-clip        : padding-box;
    }

    .nav>li.dropdown ul.dropdown-menu {
        min-width    : 250px;
        border-bottom: 3px solid #e65855;
    }

    .nav>li.dropdown ul.dropdown-menu>li {
        float: none;
    }

    li.expanded,
    li.collapsed,
    li.leaf {
        padding: 0;
        margin : 0;
    }

    nav .nav {
        display: flex;
        margin : 0 auto;
    }

    nav a {
        text-decoration        : none;
    }

    .nav>li.dropdown ul.dropdown-menu>li>a {
        border-top : 1px solid #eee;
        color      : #15628a !important;
        line-height: 2.5em;
        font-size  : 0.8em;
    }

    .nav > li > a:hover {
        background: none;
        border-bottom: 2px solid orange;
    }

}
