@import 'https://centerfordigitalhumanities.github.io/Newberry-paleography/styles/main.css';

:root {
    --color-primary: #264aa0;
    --color-secondary: #add8e6;
    --color-link: #264aa0;
    --color-link-active: #557bd7;
    --font-color: #333333;
}
